<% args = notification.args %>
<% if local_assigns[:header].present? %>
  <div class="notification-item <%= new_notification_klass(notification.id.to_s) %>">
    <div class="avatar-container">
      <%= image_tag args['attendee_thumb_url'], class: 'avatar-img', alt: '' %>
    </div>
    <div class="notification-content">
      <span class="title">
        <%= link_to args['attendee_name'], profile_user_path(args['attendee_id']) %>
        <span class="date"><%= time_ago_in_words(notification.created_at) %> ago</span>
      </span>
      <span class="description">Has requested to add him <%= link_to args['event_name'], event_path(id: args['event_id'], anchor: 'attendees'), class: 'title', target: '_blank' %> event.</span>
    </div>
  </div>
<% else %>
  <div class="notification-item">
    <a href="#" class="avatar-container">
      <%= image_tag args['attendee_thumb_url'], class: 'avatar-img', alt: '' %>
    </a>
    <div class="info-container">
      <span class="info">
        <%= link_to args['attendee_name'], profile_user_path(args['attendee_id']) %> has requested you to join him as attendee in 
        <%= link_to args['event_name'], event_path(id: args['event_id'], anchor: 'attendees'), class: 'title' %> event.
      </span>
      <span class="notice"><%= time_ago_in_words(notification.created_at) %> ago</span>
    </div>
  </div>
<% end %>
