<div class="row">
  <div class="col-12">
    <div class="profile-page-heading">
      <div class="user-profile-info">
        <% if @user == current_user %>
          <%= form_tag(upload_pic_user_path(@user), method: :post, multipart: true, class: 'form content-form') do %>
            <%= file_field_tag "user[profile_attributes][cover_pic]", class: 'hidden', id: "user_cover_pic", 'data-behavior': 'submit_form' %>
            <label for='user_cover_pic'>
              <span class="change-cover-image-btn btn btn-primary">
                <span>Change cover</span>
              </span>
            </label>
          <% end %>
        <% end %>
        <div class="avatar-container">
          <%= image_tag @user.thumb_url, class: 'avatar-img' %>
          <% if @user == current_user %>
            <%= form_tag(upload_pic_user_path(@user), method: :post, multipart: true, class: 'form content-form') do %>
              <%= file_field_tag "user[profile_attributes][avatar]", class: 'hidden', 'data-behavior': 'submit_form', id: 'user_profile_pic' %>
              <label for='user_profile_pic'>
                <span class="add-avatar">
                  <i class="zmdi zmdi-camera-add"></i>
                </span>
              </label>
            <% end %>
          <% end %> 
        </div>
        <div class="profile-info">
          <span class="user-name"><%= @user.name %></span>
          <span class="badge badge-info"><%= @user.user_status %></span>
          <span class="location"><i class="zmdi zmdi-pin"></i><%= @user.city %></span>
        </div>
        <div class="profile-stats">
          <ul class="stats-list">
            <li>
              <span class="stats-counter"><%= @user.followers.count %></span>
              <span class="stats-title">Followers</span>
            </li>
            <li>
              <span class="stats-counter">0</span>
              <span class="stats-title">Page Views</span>
            </li>
            <li>
              <span class="stats-counter"><%= @user.posts.count %></span>
              <span class="stats-title">Posts</span>
            </li>
            <li>
              <span class="stats-counter"><%= @user.photos.count %></span>
              <span class="stats-title">Photos</span>
            </li>
          </ul>
        </div>
        <div class="profile-buttons">
          <% if @user == current_user %>
            <a href="#" class="btn btn-primary"><span>My followers</span></a>
          <% elsif current_user.follow_user?(@user) %>
            <%= link_to unfollow_user_follow_index_path(id: @user.id), method: :post, class: 'btn btn-primary' do %>
              <span>UnFollow</span>
            <% end %>
          <% else %>
            <%= link_to user_follow_index_path(id: @user.id), method: :post, class: 'btn btn-primary' do %>
              <span>Follow</span>
            <% end %>
            <!-- <a href="#" class="btn btn-primary"><span>Follow</span></a> -->
          <% end %>
        </div>
      </div>
      <div class="tabs-container page-control-tabs">
        <ul class="nav nav-tabs content-tabs justify-content-center" id="NewsfeedTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="aboutTab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-expanded="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="allPostsTab" data-toggle="tab" href="#allPosts" role="tab" aria-controls="allPosts">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photosTab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="videosTab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="blogsTab" data-toggle="tab" href="#blogs" role="tab" aria-controls="blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="motorGarageTab" data-toggle="tab" href="#motorGarage" role="tab" aria-controls="motorGarage">Motor Garage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="dreamGarageTab" data-toggle="tab" href="#dreamGarage" role="tab" aria-controls="dreamGarage">Dream Garage</a>
          </li>
        </ul>
        <div class="select-container">
          <span class="label">Show on page</span>
          <select class="selectpicker" id="pageControlTabs">
            <option data-tokens="0" value="about">About</option>
            <option data-tokens="1" value="allPosts">All Posts</option>
            <option data-tokens="2" value="photos">Photos</option>
            <option data-tokens="3" value="videos">Videos</option>
            <option data-tokens="4" value="blogs">Blogs</option>
            <option data-tokens="5" value="motorGarage">Motor Garage</option>
            <option data-tokens="6" value="dreamGarage">Dream Garag</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
