<div class="sidebar-container mobile-order-2">
  <%= render partial: 'shared/share_page' %>
  <%= render partial: 'privacy' %>
  <%= render partial: 'events/index' %>
  <%= render partial: 'followers' %>
  <%= render partial: 'shared/sidebar_footer' %>
</div>
